@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--main-text-color);
    transition: 0.2s cubic-bezier(.68, -0.04, 0, 1.31);
    user-select: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    /* colors */
    --primary-action-backgrnd: #51F570;
    --destructive-action-backgrnd: #E02B2B;
    --destructive-transparent-dark: rgba(224, 43, 43, 0.4);
    --destructive-transparent-light: rgba(224, 43, 43, 0.6);
    --secondary-action-backgrnd: rgba(195, 195, 195, 0.4);
    --low-backgrnd: rgba(195, 195, 195, 0.15);
    --section-backgrnd: rgba(195, 195, 195, 0.4);

    /* button text */
    --btn-text-size: 36px;
    --btn-text-weight: 500;
    --btn-border-radius: 8px;
    --btn-text-color: rgba(0, 0, 0, 0.9);

    /* text sizes */
    --title-size: 48px;
    --subtitle-size: 40px;
    --text-size: 22px;

    /* text weights */
    --title-weight: 700;
    --subtitle-weight: 500;
    --text-weight: 500;

    /* text colors */
    --main-text-color: #ffffff;
    --secondary-text-color: rgba(255, 255, 255, 0.75);

    /* inputs */
    --input-backgrnd: rgba(13, 13, 13, .75);
}

body {
    background: url(img/bg-wool-dark.png);
    background-repeat: repeat;
    background-size: 25%;
    background-position: fixed;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: var(--low-backgrnd);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
    -webkit-app-region: drag;
    z-index: 9999999;
}

.nav .left {
    display: flex;
    justify-content: start;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    height: 100%;
}

.nav .left img {
    height: 35px;
    margin-right: 15px;
    margin-left: 8px;
    aspect-ratio: 1/1;
    vertical-align: middle;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 12px;
}

.nav .left *, .nav .left .actions * {
    vertical-align: middle;
}

.nav .left .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.nav .left a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 24px;
    margin-right: 35px;
    cursor: pointer !important;
    position: relative;
    -webkit-app-region: none;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}

.nav .left a.active {
    color: var(--main-text-color);
}

.nav .left .actions .activeMenuIndicator {
    background: var(--main-text-color);
    height: 3px;
    position: absolute;
    transform: translateY(20px);
    border-radius: 3px;
    transition: 0.45s cubic-bezier(.68, -0.04, 0, 1.31);
}

.right {
    display: flex;
    justify-content: end;
    width: max-content;
    height: 100%;
    align-items: center;
    padding-right: 8px;
}

.right .miniBtn {
    aspect-ratio: 1 / 1;
    height: 35px;
    text-align: center;
    background: var(--secondary-action-backgrnd);
    border-radius: 3px;
    margin-left: 15px;
    vertical-align: middle;
    color: var(--main-text-color);
    font-size: 28px;
    font-weight: var(--btn-text-weight);
    cursor: pointer;
    -webkit-app-region: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniBtn .square {
    background: transparent;
    aspect-ratio: 1 / 1;
    height: 18px;
    border-radius: 3px;
    border: solid 3px var(--main-text-color);
    vertical-align: middle;
}

.right .closeBtn {
    background: var(--destructive-transparent-dark);
}

h2 {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--main-text-color);
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
    transform: scale(0.92);
    transition: 0.3s cubic-bezier(.68, -0.04, 0, 1.31);
}

.menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    padding-top: 100px;
}

/* home sections */
section {
    background: var(--section-backgrnd);
    border-radius: 8px;
    backdrop-filter: blur(2px);
    max-width: 1000px;
    position: relative;
}

section#gameDirectory {
    height: 156px;
    background: var(--secondary-action-backgrnd);
    width: 1000px;
}

#gameDirectory h2 {
    margin-top: 15px;
    margin-left: 20px;
}

#gameDirectory .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

#gameDirectory .actions .input {
    display: flex;
    justify-content: start;
    flex-direction: row;
    position: relative;
    margin-right: 15px;
}

#gameDirectory .actions .input .fileSelector input {
    background: var(--input-backgrnd);
    border-radius: 8px 0 0 8px;
    padding-left: 65px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 64px;
    border: none;
    font-size: 24px;
    width: 600px;
}

#gameDirectory .actions .input .fileSelector img {
    aspect-ratio: 1/1;
    height: 45px;
    position: absolute;
    filter: invert();
    opacity: .9;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#gameDirectory .actions .input button {
    background: var(--primary-action-backgrnd);
    border: none;
    height: 64px;
    aspect-ratio: 1 / 1;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    padding: 0 !important;
}

#gameDirectory .actions .input button img {
    height: 40px;
    vertical-align: middle;
}

#addNew {
    margin-top: 50px;
    width: 1000px;
    padding: 40px 0;
}

#addNew .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#addNew .container .card {
    position: relative;
    height: 448px;
    width: 272px;
    margin: 0 20px;
}

#addNew .container .card img {
    width: 100%;
    height: 386px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#addNew .container .card .add {
    width: 229px;
    height: 114px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    background: var(--secondary-action-backgrnd);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#addNew .container .card .add p.name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#addNew .container .card .add button {
    width: 194px;
    height: 41px;
    font-size: 24px;
}

#addNew .container .card:hover .add {
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 67px;
    padding-bottom: 12px;
}

#addNew .container .card:hover img {
    border-radius: 8px 8px 0 0;
}

#addNew .container .card:hover .add p.name {
    opacity: 0;
    height: 0;
    pointer-events: none;
}

/* global */

button {
    background: var(--primary-action-backgrnd);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weight);
    color: var(--btn-text-color);
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: scale(0.98);
    transition: 0.05s linear;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}