@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--main-text-color);
    transition: 0.2s ease-in;
    user-select: none;
    outline: none;
}

:root {
    /* colors */
    --primary-action-backgrnd: #51F570;
    --destructive-action-backgrnd: #E02B2B;
    --destructive-transparent-dark: rgba(224, 43, 43,  0.4);
    --destructive-transparent-light: rgba(224, 43, 43,  0.6);
    --secondary-action-backgrnd: rgba(195, 195, 195, 0.4);

    /* button text */
    --btn-text-size: 36px;
    --btn-text-weight: 500;
    --btn-border-radius: 8px;

    /* text sizes */
    --title-size: 48px;
    --subtitle-size: 40px;
    --text-size: 22px;

    /* text weights */
    --title-weight: 700;
    --subtitle-weight: 500;
    --text-weight: 500;

    /* text colors */
    --main-text-color: #ffffff;
    --secondary-text-color: rgba(255, 255, 255, 0.75);
}

body {
    background: url(img/bg-wool-dark.png);
    background-repeat: repeat;
    background-size: 25%;
    background-position: fixed;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-app-region: drag;
}

.nav .left {
    display: flex;
    justify-content: start;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    height: 100%;
}

.nav .left img {
    height: 45px;
    margin-right: 15px;
    margin-left: 8px;
    aspect-ratio: 1/1;
    vertical-align: middle;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 12px;
}

.nav .left *, .nav .left .actions * {
    vertical-align: middle;
}

.nav .left .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.nav .left a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 32px;
    margin-right: 35px;
    cursor: pointer !important;
    position: relative;
    -webkit-app-region: none;
}

.nav .left a.active {
    color: var(--main-text-color);
}

.nav .left .actions .activeMenuIndicator {
    background: var(--main-text-color);
    height: 3px;
    position: absolute;
    transform: translateY(20px);
    border-radius: 2px;
}

.right {
    display: flex;
    justify-content:end;
    width: max-content;
    height: 100%;
    align-items: center;
    padding-right: 8px;
}

.right .miniBtn {
    aspect-ratio: 1 / 1;
    height: 44px;
    text-align: center;
    background: var(--secondary-action-backgrnd);
    border-radius: var(--btn-border-radius);
    margin-left: 15px;
    vertical-align: middle;
    color: var(--main-text-color);
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weight);
    cursor: pointer;
    -webkit-app-region: none;
}

.right .closeBtn {
    background: var(--destructive-transparent-dark);
}