@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--main-text-color);
    transition: 0.2s var(--animation-timing-function);
    user-select: none;
    -webkit-user-drag: none;
    outline: none;
    scroll-behavior: smooth;
}

.reduced-motion * {
    transition: 0.1s linear !important;
}

:root {
    --animation-timing-function: cubic-bezier(.68, -0.04, 0, 1.31);

    /* colors */
    --primary-action-backgrnd: #0ebb62;
    --destructive-action-backgrnd: rgba(224, 43, 43, 0.5);
    --destructive-transparent-light: rgba(224, 43, 43, 0.6);
    --destructive-transparent-dark: rgba(224, 43, 43, 0.4);
    --secondary-display-backgrnd: #4790FF;
    --secondary-action-backgrnd: rgba(195, 195, 195, 0.4);
    --section-backgrnd: rgba(195, 195, 195, 0.4);
    --low-backgrnd: rgba(195, 195, 195, 0.15);
    --notif-backgrnd: rgba(0, 0, 0, 0.4);
    
    /* button text */
    --btn-text-size: 36px;
    --btn-text-weight: 500;
    --btn-border-radius: 8px;
    --btn-text-color-dark: rgba(0, 0, 0, 0.9);
    --btn-text-color-light: rgba(255, 255, 255, 0.9);
    
    /* text sizes */
    --title-size: 48px;
    --subtitle-size: 40px;
    --info-size: 32px;
    --text-size: 22px;
    --small-text-size: 18px;
    
    /* text weights */
    --title-weight: 700;
    --subtitle-weight: 500;
    --text-weight: 500;
    
    /* text colors */
    --main-text-color: #ffffff;
    --secondary-text-color: rgba(255, 255, 255, 0.75);
    
    /* inputs */
    --input-backgrnd: rgba(13, 13, 13, .75);
}

/* scroll bar */
::-webkit-scrollbar {
    display: none;
}

body {
    background: url(img/bg-wool-dark.png);
    background-repeat: repeat;
    background-size: 25%;
    background-position: fixed;
    overflow-x: hidden;
}
 
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: var(--low-backgrnd);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
    -webkit-app-region: drag;
    z-index: 98;
    box-shadow: 0 0 25px rgba(0, 0, 0, .7);
}

body.reduced-motion .nav {
    animation: none !important;
}

body:not(.reduced-motion) .nav {
    animation: navDisplay .8s var(--animation-timing-function);
    animation-delay: 0.5s;
    opacity: .2;
    transform: translateY(-120%);
}

@keyframes navDisplay {
    from {
        opacity: .2;
        transform: translateY(-120%);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav .left {
    display: flex;
    justify-content: start;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    height: 100%;
}

.nav .left img {
    height: 35px;
    margin-right: 15px;
    margin-left: 8px;
    aspect-ratio: 1/1;
    vertical-align: middle;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 12px;
}

.nav .left *, .nav .left .actions * {
    vertical-align: middle;
}

.nav .left .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.nav .left a {
    color: var(--secondary-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 35px;
    cursor: pointer !important;
    position: relative;
    -webkit-app-region: none;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
    animation: navItemDisplay 0.5s var(--animation-timing-function);
}

@keyframes navItemDisplay {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav .left a.active {
    color: var(--main-text-color);
}

.nav .left .actions .activeMenuIndicator {
    background: var(--main-text-color);
    height: 4px;
    position: absolute;
    transform: translateY(21.5px);
    border-radius: 8px;
    transition: 0.45s cubic-bezier(.68, -0.04, 0, 1.31);
}

.right {
    display: flex;
    justify-content: end;
    width: max-content;
    height: 100%;
    align-items: center;
    padding-right: 8px;
}

.right .miniBtn {
    aspect-ratio: 1 / 1;
    height: 35px;
    text-align: center;
    background: var(--secondary-action-backgrnd);
    border-radius: 3px;
    margin-left: 15px;
    vertical-align: middle;
    color: var(--main-text-color);
    font-size: 28px;
    font-weight: var(--btn-text-weight);
    cursor: pointer;
    -webkit-app-region: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniBtn .square {
    background: transparent;
    aspect-ratio: 1 / 1;
    height: 18px;
    border-radius: 3px;
    border: solid 3px var(--main-text-color);
    vertical-align: middle;
}

.right .closeBtn {
    background: var(--destructive-transparent-dark);
}

h2 {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    color: var(--main-text-color);
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    opacity: 0;
    pointer-events: none;
    padding-top: 0;
    transform: scale(0.92);
    transition: 0.3s cubic-bezier(.68, -0.04, 0, 1.31);
    overflow: hidden;
}

.menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    padding-top: 100px;
    padding-bottom: 30px;
    overflow: auto;
}

/* home sections */
section {
    background: var(--section-backgrnd);
    border-radius: 8px;
    backdrop-filter: blur(2px);
    max-width: 1000px;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
    animation: sectionDisplay .8s var(--animation-timing-function);
    animation-delay: 1s;
}

@keyframes sectionDisplay {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

section#gameDirectory {
    height: 156px;
    background: var(--secondary-action-backgrnd);
    width: 1000px;
}

section h2 {
    margin-top: 15px;
}

#gameDirectory .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 13px;
    margin-right: 20px;
}

#gameDirectory .actions .input {
    display: flex;
    justify-content: start;
    flex-direction: row;
    position: relative;
    margin-right: 15px;
}

input[type="text"], select{
    background: var(--input-backgrnd);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 8px;
    padding-bottom: 5px;
    height: 64px;
    border: none;
    font-size: 24px;
    width: 600px;
}

.fileSelector {
    position: relative;
}

.fileSelector > img {
    aspect-ratio: 1/1;
    height: 45px;
    position: absolute;
    filter: invert();
    opacity: .9;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#gameDirectory .actions .input button {
    background: var(--primary-action-backgrnd);
    border: none;
    height: 64px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: 0 !important;
}

button.iconBTN img {
    height: 40px;
    vertical-align: middle;
}

#addNew {
    width: 1000px;
    padding: 40px 0;
}

#addNew .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#addNew .container .card {
    position: relative;
    height: 448px;
    width: 272px;
    margin: 40px 20px;
}

#addNew .container .card, #addNew .container .card * {
    transition: 0.3s var(--animation-timing-function);
}

#addNew .container .card img {
    width: 100%;
    height: 386px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translateY(-10px);
}

#addNew .container .card .add {
    width: 240px;
    height: 114px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) translateY(15px);
    border-radius: 8px;
    background: var(--secondary-action-backgrnd);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#addNew .container .card .add p.name {
    font-size: 24px;
    width: 150%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 12px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#addNew .container .card .add button {
    width: 194px;
    height: 41px;
    font-size: 24px;
}

#addNew .container .card:hover .add {
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 67px;
    padding-bottom: 12px;
    transform: translateX(-50%) translateY(0);
}

#addNew .container .card:hover .add button {
    transform: translateY(-40%);
}

#addNew .container .card:hover img {
    border-radius: 8px 8px 0 0;
    transform: translateY(0);
}

#addNew .container .card:hover .add p.name {
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
}

/* global */

button {
    background: var(--primary-action-backgrnd);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: var(--btn-text-size);
    font-weight: var(--btn-text-weight);
    color: var(--btn-text-color-dark);
    cursor: pointer;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.active-anim:active, .nav .left a:active, button:active, .input img:active{
    transform: scale(0.97);
    transition: 0.05s linear;
}

.rounded-left { border-radius: 8px 0 0 8px !important }

.rounded-right { border-radius: 0 8px 8px 0 !important}

input.leftpad-icon[type="text"] { padding-left: 65px }

.section-mt { margin-top: 40px }

.disabled { opacity: .5; pointer-events: none; }

.invert { filter: invert(); }

.destructive-btn { 
    background: var(--destructive-action-backgrnd);
    color: var(--main-text-color);
}

.secondary-btn { 
    background: var(--secondary-action-backgrnd);
    color: var(--btn-text-color-light);
}

.horizontal {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 1000px;
}

/* settings section */
#locale {
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 35px;
}

#locale .actions {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-top: 8px;
}

#locale .actions .input {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin-right: 10px;
}

#locale .actions .input select {
    width: 220px;
}

#locale .actions .input  button {
    height: 64px;
}

#locale a {
    margin-top: 20px !important;
}

#updates {
    width: 1000px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#updates #currentVersion {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: var(--info-size);
    background: var(--low-backgrnd);
    border-radius: var(--btn-border-radius);
    backdrop-filter: blur(15px);
    border: solid 2px var(--main-text-color);
    padding: 5px 10px;
}

#updates.u-av .actions .downloading {
    display: flex !important;
    flex-direction: row;
    justify-content: start;
    padding-right: 10px;
}

#updates .progress {
    width: 100%;
    background-color: var(--input-backgrnd);
    border-radius: 8px;
    margin-right: 10px;
    position: relative;
}

#updates .progress .displayer {
    background-color: var(--secondary-display-backgrnd);
    border-radius: 8px;
    height: 100%;
    width: 0;
    z-index: -1;
}

#updates .progress p {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--text-size)
}

#updates .actions .downloading .speed {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--text-size);
    z-index: 3;
}

#updates .actions .utd button {
    margin-right: 10px;
}

#updates .actions .utd button img {
    aspect-ratio: 1/1; 
    height: 34px; 
    vertical-align: middle;
    transform: translateY(-3px);
    opacity: .9;
}

#updates .actions {
    padding-top: 15px;
}

#updates .actions .utd, #updates .actions .downloading, #updates .actions .downloaded {
    margin-top: 0;
    display: none;
    position: relative;
}

#updates.utd .actions .utd {
    display: block !important;
}

/* dev tools */
#devtools h2 {
    margin-top: 10px;
}

#devtools label {
    font-size: var(--small-text-size);
}

#devtools input {
    width: 20px;
    transform: scale(1.5);
    margin-bottom: 10px;
}

/* loader */

body.loading {
    overflow: hidden;
}

.loader {
    display: none;
}

.loading .loader {
    background: #1f1f1f;
    transition: 0.2s;

    /* position */
    z-index: 97;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* flex */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loading .CustoMiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.loading .CustoMiner img {
    transform: scale(0.8);
}

.loading .CustoMiner h1 {
    text-align: center;
    margin-top: 10px;
}

.loading .loader .animation {
    height: max-content;
    transform: translateX(20px) scale(.5);
    align-self: center;
}

.loading .loader span {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    height: 12px;
    transform: translateX(20px);
    animation: spinner 1s linear infinite;
    transform-origin: -56px;
    opacity: 0;
}

@keyframes spinner {
    from {
        transform: translateX(20px) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateX(20px) rotate(360deg);
        opacity: 1;
    }
}

/* notification */
.notification {
    position: fixed;
    background: var(--notif-backgrnd);
    backdrop-filter: blur(15px);
    min-height: 90px;
    max-width: 600px;
    min-width: 250px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    border-radius:8px;
    padding: 10px 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);

    /* flex */
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.notification.hidden-notif {
    transform: translateY(-400px) translateX(-50%);
    opacity: 0;
}

.notification h3 {
    font-size: var(--text-size);
    font-weight: 600;
    margin-bottom: 5px;
}

.notification p {
    font-weight: 200;
    font-size: var(--small-text-size);
    padding-right: 45px;
}

.notification .actions {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin-top: 8px;
}

.notification .actions * {
    padding: 4px 8px;
    border: solid 2px rgba(255, 255, 255, .9);
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;    
}

.notification .close {
    aspect-ratio: 1 / 1;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    filter: invert();
    cursor: pointer;
}

/* Popup */

.popup {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(25px) grayscale(90%);
    padding: 15px 35px;
    border-radius: 0.5em;
    border: 1.5px solid rgba(255, 255, 255, .3);
    max-width: 300px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .6);
    text-align: center;
    top: 150px;
    position: fixed;
    left: 0;
    right: 0;
    width: 250px;
    z-index: 101;
    margin-left: auto;
    margin-right: auto;
    animation: popupDisplay .4s var(--animation-timing-function);
}

.popup h3 {
    margin: 10px 0;
    font-weight: 700;
    font-size: calc(var(--text-size) * 1.25 );
}

.popup p {
    margin-top: 5px;
    opacity: .75;
    font-weight: 300;
    margin-bottom: 5px;
}

.popup img {
    width: 64px;
    margin-bottom: 10px;
}

.popup .buttons {
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    font-weight: 200;
}

.popup .buttons button, .addnew-popup button {
    color: rgba(0, 0, 0, .9);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    border: none;
    outline: none;
    font-size: 1.15em;
    line-height: 1;
    width: 100%;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.popup .buttons button:last-child {
    margin-top: 5px;
}

button.accent {
    box-shadow: rgba(255, 255, 255, .23) 0px 5px 10px inset;
    background: var(--accent-color);
    cursor: pointer;
}

@keyframes popupDisplay {
    from {
        opacity: 0;
        transform: scale(1.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupBackground.popHidden, .popupBackground-lower.popHidden {
    opacity: 0;
    pointer-events: none;
}

.popupBackground, .popupBackground-lower {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: .2s;
    opacity: 1;
    pointer-events: auto;
}

.popupBackground-lower { z-index: 95; }

/* add new */
.addnew-popup { 
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* style */
    animation: popupDisplay .4s var(--animation-timing-function);
    overflow: hidden;
    border-radius: 0.5em;
    border: 1.5px solid rgba(255, 255, 255, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .6);
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, .7);
    /* position & size*/
    top: calc(50% - 420px / 2);
    left: calc(50% - 860px / 2);
    position: fixed;
    z-index: 96;
    width: 860px;
    height: 420px;
    padding: 20px 40px;
}

.addnew-popup .top {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.addnew-popup .top img {
    aspect-ratio: 1 / 1;
    height: 32px;
    cursor: pointer;
}

.addnew-popup .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.addnew-popup .container .preview {
    height: 200px;
    width: 320px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.addnew-popup .container .preview::after {
    content: '';
    position: absolute;
    right: -100px;
    left: -100px;
    top: -100px;
    bottom: 0;
    box-shadow: 0 -80px 40px rgba(0, 0, 0, 0.75) inset;
    z-index: 50;
    transition: 0.2s linear;
}

.addnew-popup .container .preview:hover::after {
    box-shadow: 0 -80px 60px rgba(0, 0, 0, 0.8) inset;
}

.addnew-popup .container .preview img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.addnew-popup .container .preview:hover img {
    transform: scale(1.05);
}

.addnew-popup .container .preview span {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    z-index: 51;
    font-size: var(--info-size);
}

.addnew-popup .container .preview:hover span {
    bottom: 16px;
}

.addnew-popup .container .infos .fileSelector {
    margin: 12px 0;
}

.addnew-popup .container .infos .fileSelector input {
    width: 420px !important;
    font-size: 20px;
}

.addnew-popup .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addnew-popup .actions button {
    font-size: calc(var(--btn-text-size) - 50%);
    margin: 0 10px;
}

.addnew-popup .container .infos .label {
    font-size: var(--small-text-size);
    opacity: 0.75;
    font-weight: 300;
}

.addnew-popup .container .infos .label span {
    opacity: 1 !important;
    font-weight: 600;
}